<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Petstore API Suite">
    <test name="Pet Tests">
        <classes>
            <class name="com.petstore.tests.PetTests"/>
        </classes>
    </test>
    <test name="Store Tests">
        <classes>
            <class name="com.petstore.tests.StoreTests"/>
        </classes>
    </test>
</suite>
